<footer class="footer-distributed">
 
    <div class="footer-left">
    <a href="project.html" class="logo">-Want2Wear-</a>
    <p class="footer-links">
      
      <a class="active" href="login.html"><i class="fa fa-fw fa-user"></i>Log in & Register</a>
      <p class="footer-year"> &Map; 2020</p>
    </p>
      
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p>69 Pracha Uthit Road <span>
      </span>Bangkok, Thailand</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+1 555 123456</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p>want2wear@gamil.com</p>
      </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
        <span>About the company</span>
      <span>NOTICE</span>
    Collect your favorite brands. 
    FDU GLOBAL SHIPPING! 
    The genuine guarantee 100%. 
    We know the newest fashion cul...
        </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    
      </div>

    </div>

  </footer>

</body>
  
</html>