<!DOCTYPE html>
<html>
    <head>
        <title>W2W</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Bad+Script&family=Bebas+Neue&family=Comfortaa:wght@300&family=IBM+Plex+Sans:wght@200&family=Questrial&family=Source+Serif+Pro&family=Vidaloka&family=IBM+Plex+Sans:wght@200&family=Comfortaa:wght@300&family=Questrial&family=Abril+Fatface&family=Raleway:wght@300&family=Red+Hat+Text:wght@400;500&family=Caveat:wght@400;700&family=Cedarville+Cursive&family=DM+Serif+Display:ital@0;1&family=Galada&family=Pattaya&family=Playfair+Display&family=Playfair+Display+SC:wght@700&family=Yeseva+One&display=swap" rel="stylesheet">
        
        <script src="/js/project.js" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
        
        <link rel='stylesheet' type='text/css' href='/css/project.css' />
        
        
        
        
    </head>

        
       
   
    <body>
    <div class="fixed-top" style="position: initial;">
      <!--header-->
        <div class="header">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>

          <a href="/index" class="logo">Want to Wear</a>
          <div class="header-right">
            <% if (!currentUser){ %>
            <a class="active" href="/login-register"><i class="fa fa-fw fa-user"></i>Log in & Register</a>
            <% } else{ %>
              Hello, <%= currentUser.username %>
              <a href='/logout'>Log out</a>
            <% } %>
            
          </div>
        </div>

      <!--navbar-->  
        <div class="topnav" id="myTopnav">
      
          <a class="active" href="/index"><i class="fa fa-home"></i></a> 
          
          <div class="dropdown">
        
            <button class="dropbtn"><i class="fa fa-list"></i> CATEGORY</button>
            <div class="dropdown-content">
              <a href="/want2wear/category?value=Swimwear" name="swimwear" >SWIMWEAR</a>
              <a href="/want2wear/category?value=Jacket" name="jackets" >JACKETS</a>
              <a href="/want2wear/category?value=Shirt" name="shirts" >SHIRTS</a>
              <a href="/want2wear/category?value=Pants" name="pants" >PANTS</a>
              <a href="/want2wear/category?value=Skirt" name="skirts" >SKIRTS</a>
              <!-- <a href="/want2wear/category?value=Shoes" name="shoes" >SHOES</a> -->
              <a href="/want2wear/category?value=Bags" name="bags" >BAGS</a>
              <a href="/want2wear/category?value=Jewelry" name="jewelry" >JEWELRY</a>
            </div>
          </div>
          <% if (currentUser) {
            if (currentUser.isAdmin){ %>
              <a href="/want2wear/new"><i class="fa fa-plus"></i> ADD</a>
            
            <a href="/want2wear/store-management"><i class="fa fa-cogs"></i> MANAGE</a>
            <a href="/want2wear/profile"><i class="fa fa-user-o"></i> PROFILE</a>
            <% } else{ %>
              <a href="/want2wear/profile"><i class="fa fa-user-o"></i> PROFILE</a>
              <b href="#icon"> 

              <a href="/want2wear/shoppingcart" style="padding: 0px 5px;  float: right;margin-right: 5%; color: #0c2431;"><i style="color:#0c2431;" class="fa fa-shopping-cart" aria-hidden="true" > 
               
             <% if (session.cart == null){ %>
                
             <% } 
             else{ %>
              <u class="badge" style="color:#0c2431;"><%= session.cart.totalProduct %></u>

            <% } %>
            </i>
             
            <% } %>
                
                               
                              </a>
       <%   }
           else { %>
          <!-- <b href="#icon"> 
           
            <a href="/want2wear/shoppingcart" style="padding: 0px 5px;  float: right; margin-right:30px;"><i class="fa fa-shopping-cart" aria-hidden="true" >  </i>
            
          </a> -->

          <% } %>
          
          
          
            
           
            
          </b>
        </div>
      </div>