<%- include("partials/header") %>

<link rel='stylesheet' type='text/css' href='/css/cartcomplete.css' />
    <div class="container2">
        <ul class="progressbar">
            <li class="active2 aa"><i class="fa fa-shopping-cart" aria-hidden="true" ></i><br>CART<br></li>
            <li class="active2 aa"><i class="fa fa-credit-card"></i><br>payment<br></li>
            <li class="aa"><i class="fa fa-check"></i><br>order<br>complete</br></li>

        </ul>  
        <hr class="new1">
        <br>
        <h2>ORDER SUCCESSFUL!</h2>
        
    </div>


<%- include("partials/footer") %>