h3 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 30px;
}
input[type=text],input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

.row button
{
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    width: 20%;
    height: 20%;
	margin-top: 20px;
  	padding: 10px ;
	border: 1px solid #fff;
  	border-radius: 24px;
  	cursor: pointer;
	color: white;
	font-style: normal;
	text-align: center;
	font-size: 15px;
    float: right; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container{
  width: 60%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0px;
  }
}

@media screen and (max-width: 1024px ){
  .container{
    width: 60%;
  }

}


@media  screen and (max-device-width: 375px) {
  .container{
    width: 60%;
  }
  .row button{
    width: 50%;
  }
}  