.container2 {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
    margin: auto; 

}
.progressbar {
    counter-reset: step;
}
.progressbar .aa {
    list-style-type: none;
    width: 30%;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #0c2431;
}

.progressbar .aa:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #E74C3C;
    top: 30px;
    left: -50%;
    z-index: -1;
}
.progressbar .aa:first-child:after {
    content: none;
}
.progressbar .aa.active2 {
    color: #b69b7d;
}
.progressbar .aa.active2:before {
    border-color: #b69b7d;
}
.progressbar .aa.active2 + .aa:after {
    background-color: #b69b7d;
}
.progressbar i{
    font-size: 60px;
}

hr.new1 {
   
    /* border-top: 3px solid rgba(68, 48, 48, 0.301) ; */
    margin-top: 250px;
    
  }
.container2 h2{
    color: #0c2431;
    font-family: 'Vidaloka', serif;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}


/*responsive*/
/* @media only screen and (max-width: 1024px) {
    body{
      width: 1024px;
    }
     .active2{
        display: none;
    } 
    .bket i {
        padding-top: 90px;
        font-size: 200px;
       
    }
    .bket  {
         
        padding-left: 330px;  
        
        
    }
    .progressbar .aa{
        font-size: 60px;
        text-align: center;
    }

    .progressbar .aa:after{
        display: none;
    }
    hr.new1 {
    
        border-top: 10px solid rgba(68, 48, 48, 0.301) ;
        margin-top: 550px;
        width: 600px;
        
    }
    .container2 h2{
        
        
        margin-top: 60px;
        font-size: 50px;
        
    }
} */
@media only screen and (max-width: 1024px ){
  .container2 {
    width: 100%;
    
  }
   hr.new1 {
    width: 80%;  
  }
  .progressbar .aa {
    width: 20%;
    left: 17%;
  }
}
@media only screen and (max-device-width: 768px) {
    body{
        width: 100%;
       
    }
    .active2{
        display: none;
    }
    .bket i {
        padding-top: 50px;
        font-size: 120px; 

    }
    .bket  {
        
        padding-left: 15%;  
    }
    .progressbar .aa{
        font-size: 40px;
        text-align: center;
    }
    .progressbar .aa:after{
        display: none;
    }
    hr.new1 {
        
        border-top: 10px solid rgba(68, 48, 48, 0.301) ;
        margin-top: 650px;
        width: 80%;
          
    }
    .container2 h2{
        margin-top: 80px;
        font-size: 50px;         
    }
    .container2 {
        width: 100%;
        padding-top: 0px; 
        padding-bottom: 30px;
        margin: auto;
    }
    
   
  }    



  @media only screen and (max-device-width: 375px){

  .container2 {
    width: 100%;
    padding-top: 0%; 
    padding-bottom: 0%; 
    margin: auto;
}
.container2 h2 {
    margin-top: 80px;
    font-size: 50px;
}
.progressbar .aa {
    font-size: 30px;
    text-align: center;
}
.bket i {
    padding-top: 50px;
    font-size: 100px; 

}



}

