
.container{
    margin-top: 100px;
    width: 100%
}

/*++*/
.row{
    margin-top: 250px;
    width: 100%;
}

.col-md-7 h2{
    font-size: 25px;
    color: #0c2431;
}

.checked {
    color: orange;
    font-size: 20px;
    
}

.price{
    color:black;
    font-size: 26px;
    font-weight: bold;
}
.product-buttom tr{
    margin: 10px;
}

.product-buttom input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 40px;
    margin: 20px;
}


#buy,#add
{
	background: #b69b7d ;
    width: 30%;
    height: 20%;
	
  	padding: 10px ;
	border: 1px solid #fff;
  	border-radius: 10px;
  	cursor: pointer;
	color: white;
	font-style: normal;
	text-align: center;
	font-size: 15px;
}


/*detail*/
.col-md-12  {
    margin-bottom: 10%;
    top: -200px;

}


/* Style tab links */

.tablink {
    background-color:#D1CCC8 ;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 26px;
    font-size: 17px;
    width: 50%;
    font-family: 'Source Serif Pro', serif;
  }
  
  .tablink:hover {
    background-color:  #decbb1;  
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    border-radius: 10px;
    color: white;
    display: none;
    padding: 100px 20px;
    height: 800px;
    border-radius: 10px;
    margin-bottom: 100px;
  }

  
  
  #Details { background-color: rgba(247, 241, 241, 0.0827);
    color: black;}
  #Reviews {background-color: rgba(247, 241, 241, 0.0827);}
    #Reviews button{
    
        background-color: mediumaquamarine;
    margin-left: 950px;
}
.col-lg-6 img{
    width: 100%;
}
.img-thumbnail{
    width: 90%;
}
img{
    width: 100%;
}


/*responsive*/
@media only screen and (max-width: 1024px) {
    #Reviews button{
        margin-left: 750px;
    }
}
@media only screen and (max-width: 768px) {
    .img-thumbnail{
        left: 50%;
        justify-content: center;

    }
    #product1 h2 {
        margin-top : 10%;
    }
    #buy,#add{
        width: 40%;
        height: 30%;

}

}    
@media only screen and (max-width: 375px) {
    .img-thumbnail{
        left: 50%;
        justify-content: center;


    }    
    .col-md-12  {
        top: -200px;

    }
    img{
        width: 100%;
    }
}

.modal-bg{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}


.modal1 {
    background-color: white;
    width: 100%;
    height: 200%;
    margin-top: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    

}

.modal1 button{
    padding: 10px 30px;
    background-color: cornflowerblue;
    color: white;
    border:none;
    font-family: 'Yeseva One', cursive;
    cursor: pointer;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;

}
.user{
    font-weight: bold;
    color:rgba(8, 8, 8, 0.438);
    font-size: 30px;
    font-family: 'sans-serif';
}
.review {
    font-size: 25px;
    color:rgba(8, 8, 8, 0.438);
}
hr.new1 {
        
    border-top: 2px solid rgba(68, 48, 48, 0.301) ;
    margin-top: 20px;
    width: 1000px;
      
}
.user{
    
    
    font-family:  'Questrial', sans-serif;
    background: #0f0f0f11;
    color:rgba(8, 8, 8, 0.438);
    max-width: 1000px;
    font-size: 40px;
    padding: 0px;
    max-height: 250px;
}

.reviewtxt {
    margin: 10px  10px 10px 10px;
    
}