.container{
	
    width:80%;
    margin-top: 5%;

    font-family: sans-serif;
    letter-spacing: 1px;
}
.container h2{
    
    color:white;
    width: 350px;
    font-size: 30px;
	text-align: center;
    padding: 0px;
    height: 70px;
    /* position: absolute; */
    border-left: 6px solid #b69b7d;
    font-family: 'Cedarville Cursive', cursive;
    background: #0c2431;
}

button {
	background-color: rgba(129, 127, 127, 0.699);
	color: #fff;
}
img{
	 
	 width: 50PX;
	 height: 70px;
 }


/*responsive*/
@media only screen and (max-width: 1024px) {
body{
	width: 100%;
	font-size: 30px;
}
button {
	font-size: 25px;
	width: 135px;
	
}
img{
	 
	width: 70PX;
	height:100px;
}
.container h2{

    width: 390px;
    font-size: 35px;
    padding: 5px;
    height: 90px;
}
.container h2::after{ 
    border-top:56px solid #b69b7d  ;
    border-right: 50px solid transparent;
    left: 105px;
    top: 19px;

}
    
}
@media only screen and (max-width: 768px) {
body{
	width: 100%;
	font-size: 30px;
}
button {
	font-size: 25px;
	width: 135px;
	
}
img{
	 
	width: 80PX;
	height:100px;
}
.container h2{

    width: 390px;
    font-size: 35px;
    padding: 5px;
    height: 90px;
}
.container h2::after{ 
    border-top:56px solid #b69b7d  ;
    border-right: 50px solid transparent;
    left: 105px;
    top: 19px;

}
td{
    font-size: 20px;
}
th{
    font-size: 20px;
}
    
}

@media only screen and (max-width: 375px) {
body{
	width: 100%;
	font-size: 18px;
}
button {
	font-size: 15px;
	width: 70px;
	
}
.container h2{

width: 290px;
font-size: 25px;
padding: 5px;
height: 65px;
}
.container h2::after{ 
display: none;

}
td{
    font-size: 15px;
}
th{
    font-size: 15px;
}
    
}
